html {
    height: 100%;
}
body {
    background-color: #aaacb5;
    font-family: 'Inconsolata', monospace;
}

.bookshelf {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 10px #a87328 solid;
    overflow: hidden;
    background: #523415;
    background-size: 10px 230px;
    box-shadow: 0 1000px 0 400px #7a7668;
}

/* Books */
.book {
    height: 200px;
    width: 40px;
    float: left;
    color: white;
    font-size: 0.9em;
    margin-top: 20px;
    transition: transform 0.4s ease;
}
.book h2 {
    padding: 0;
    font-size: 1em;
    transform-origin: 0% 0%;
    transform: rotate(0.25turn)
    translateY(-35px);
    width: 180px;
    font-weight: 500;
}
.book h3 {
    padding: 0;
    font-size: 0.7em;
    transform-origin: 0 0;
    transform: rotate(0.25turn)
    translateY(-15px) translateX(-20px);
    width: 160px;
    font-weight: 100;
}
.book-green {
    background-color: #008000;
    border-left: 2px solid #198c19;
    border-right: 2px solid #005900;
}
.book-blue {
    background-color: #0C347D;
    border-left: 2px solid #24488a;
    border-right: 2px solid #092964;
}
.book-black {
    background-color: #323232;
    border-left: 2px solid #464646;
    border-right: 2px solid #092964;
}
.book-yellow {
    background-color: #eded80;
    border-left: 2px solid #f0f099;
    border-right: 2px solid #d5d573;
    color: black;
}
.book-yellow h3 {
    font-weight: 400;
}

.book-tilted {
    float: left;
    width: 75px;
}
.book-tilted > .book {
    transform: translateY(-3px)
    translateX(15px) rotate(9deg);
}
.book:hover {
    transform: scale(1.05);
}
.book-tilted:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
}